---
kubernetes:
  children:
    master:
      hosts:
        k8s-0:
          ansible_host: 192.168.7.2
    worker:
      hosts:
        k8s-1:
          ansible_host: 192.168.7.3
        k8s-2:
          ansible_host: 192.168.7.4
        k8s-3:
          ansible_host: 192.168.7.5
