---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: obsidian-couchdb
  namespace: selfhosted
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    image:
      repository: docker.io/library/couchdb
      tag: 3.3.1

    podAnnotations:
      configmap.reloader.stakater.com/reload: "obsidian-couchdb-config"
      secret.reloader.stakater.com/reload: "obsidian-couchdb-secrets"

    initContainers:
      init-config:
        image: busybox:latest@sha256:2376a0c12759aa1214ba83e771ff252c7b1663216b192fbe5e0fb364e952f85c
        command:
          - "sh"
          - "-c"
          - "cp /tmp/config/*.ini /default.d/; ls -lrt /default.d;"
        volumeMounts:
          - name: config
            mountPath: /tmp/config
          - name: config-storage
            mountPath: /default.d

    env:
      COUCHDB_USER:
        valueFrom:
          secretKeyRef:
            name: obsidian-couchdb-secrets
            key: couchdb-user
      COUCHDB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: obsidian-couchdb-secrets
            key: couchdb-password

    service:
      main:
        ports:
          http:
            port: 5984

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
          external-dns.home.arpa/enabled: "true"
        hosts:
          - host: &host "obsidian-db.${SECRET_DOMAIN}"
            paths:
              - path: /
        tls:
          - hosts:
              - *host
            secretName: obsidian-db-tls

    persistence:
      config:
        enabled: true
        type: configMap
        name: obsidian-couchdb-config
        mountPath: "-"

      config-storage:
        enabled: true
        type: emptyDir
        mountPath: /opt/couchdb/etc/default.d

      data:
        enabled: true
        existingClaim: obsidian-couchdb
        mountPath: /opt/couchdb/data

    resources:
      requests:
        cpu: 23m
        memory: 79M
      limits:
        memory: 200M
